html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #1abc9c;
}

#app {
  margin: 0 auto;
  max-width: 800px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 10px 20px;
}

.contactForm {
  padding: 20px;	
  margin-top: 20px;
  background: #bdc3c7;
  border: 1px solid #7f8c8d;
}

input,
button {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #7f8c8d;
}

button {
  float: right;
  color: #fff;
  background-color: #16a085;
}

.contactItem {
  padding: 20px;
  margin: 20px 0;
  height: 120px;
  background-color: #fff;
  border: 1px solid #7f8c8d;
}

.contactItem img {
  float: left;
  width: 120px;
}

.contactItem p,
.contactItem a {
  margin: 10px 5px 10px 150px;
  display: block;
}